<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Create a New Celebrity</a>
<a href="/celebrities">All Celebrities</a>

<a href="/movies/create">Create a New Movie</a>
<a href="/movies">All Movies</a>