<h2>List of Movies</h2>

<a href="/">HOME</a>
<a href="/movies/create">Create a Movie!</a>

<ul>
  {{#each allMovies}}
    <li>
      <p><strong>Title: <a href="/movies/{{id}}">{{title}}</a></strong></p>
    </li>
  {{/each}}
</ul>